/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
}

header {
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: white;
  text-align: center;
  padding: 1rem;
}

nav {
  background: linear-gradient(to right, #6a11cb, #2575fc);
  padding: 0.5rem 0;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  text-align: center;
  padding: 2rem 1rem;
}

.hero img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 4px solid white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}

section {
  padding: 2rem 1rem;
}

h2 {
  color: black;
  text-align: center;
}

.project {
  background: white;
  border: 1px solid #ddd;
  padding: 0.4rem;
  margin: 1rem 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project h3 {
  color: #2575fc;
}

.project a {
  text-decoration: none;
  color: #6a11cb;
}

footer {
  background: #131313;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

button {
  background-color: #6a11cb;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #2575fc;
}
